<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Making America Great Again</title>
    <link rel="stylesheet" href="/css/homepage.css">
  </head>
  <body>
    <h1>Welcome to Trumerica!</h1> <br><h2>Half of this country voted for me!</h2>

    <a href="/about"> About Terrific Self </a>
    <a href="/gallery"> Grab em by </a>
  </body>
</html>
