<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/image.css">
  </head>
  <body>
    <figure>
      <img src="https://media.giphy.com/media/10S1a1PhRypYn6/giphy.gif">
      <figcaption>Beating up Bad guys
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/BcFuckdngP0ly/giphy.gif">
      <figcaption>Building the wall
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/HWkZuvTJw95vi/giphy.gif">
      <figcaption>Fixing the planet
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/MeyKPGIhQFTGw/giphy.gif">
      <figcaption>Keeping bad hombres outside
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/psnG8iKvm5lo4/giphy.gif">
      <figcaption>My lovely wife
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/rzKSHEMN0lVkc/giphy.gif">
      <figcaption>Grab em by..
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/3o6ZsUdQYvPAyT1hxm/giphy.gif">
      <figcaption>Great public communication
    </figure>
    <figure>
      <img src="https://media.giphy.com/media/3o7TKMeCOV3oXSb5bq/giphy.gif">
      <figcaption>Being Yt-streotypical
    </figure>
  </body>
</html>
